.chrome-picker {
    outline: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-align: center !important;
}

.chrome-picker input {
    box-shadow: none !important;
}

#color-picker {
    outline: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-align: center !important;
    margin-bottom: 5px !important;
}